
@{
    ViewBag.Title = "CustomerDetails";
}
<input id="customerId" type="hidden" value="@ViewBag.CustomerId"/>


<h2>CustomerDetails</h2>

@section scripts {
    <script src="~/Scripts/Application Scripts/Customer/CustomerDetails.js"></script>
    }