
@{
    ViewBag.Title = "CustomerDetails";
}
<input id="customerId" type="hidden" value="@ViewBag.CustomerId" />




<div class="main-content">
    <main>
        <div>
            <div class="col-lg-12 form-fields">
                    <div class="col-lg-4">
                        <label>Name</label>
                    </div>
                    <div class="col-lg-4">
                        <input id="txtName" class="form-control" />
                    </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Surname</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtSurname" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>ID NUmber</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtIDNumber" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Salary</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtSalary" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Pay Day</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtPayDay" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Address Line 1</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtAddress1" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Address Line 2</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtAddress2" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Address Line 3</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtAddress3" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields" >
                <div class="col-lg-4">
                    <label>Address Line 4</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtAddress4" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Postal code</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtPostalCde" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" onclick="AddOrUpdateCustomer()">Submit</button>
                </div>
            </div>
        </div>
    </main>
</div>



        @section scripts {
            <script src="~/Scripts/Application Scripts/Customer/CustomerDetails.js"></script>
        }
