
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <main>
        <table id="tblCustomers" class="table table-striped table-bordered" style="width: 100%; font-size: smaller;">
            <thead style="font-size: x-small;">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>ID Number</th>
                    <th>Street address </th>
                    <th></th>
                </tr>
            </thead>
        </table>
        </main>
</div>



@section scripts{
    <script src="~/Scripts/Application Scripts/Customer/Customer.js"></script>
}