<nav class="search-wrapper" style=" border-bottom: none;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="cursor: pointer; ">
                <li>@Html.ActionLink("Collections", "Collections", "Loan") </li>
                <li><a onclick="GetLoanDetails()">Collection Details</a> </li>
                <li><a onclick="GetStatement()">Statements</a> </li>
            </ul>
        </div>
    </div>
</nav>