@{
    ViewBag.Title = "Loan Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="LoanId" type="hidden" value="@ViewBag.LoanId" />
<input id="txtNonFormatedLoanAmount" type="hidden"/>
<input id="txtNonFormatedLoanReturnAmount" type="hidden" />
<input id="txtCurrentLoanStatus" type="hidden" />
<input id="txtOldReturnDate" type="hidden" />

<div class="main-content">
    <main>
        <div>
            <div class="col-lg-12 form-fields">
                <div class="col-lg-4">
                    <label>Loan Date</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtLoanDate" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Loan Status</label>
                </div>
                <div class="col-lg-4">
                    <select id="ddlLoanStatus" name="ddlLoanStatuses" class="form-control"></select>
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Loan Holder</label>
                </div>
                <div class="col-lg-4">
                    <select id="ddlCustomers" name="ddlCustomers" class="form-control"></select>
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Loan Amount</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtLoanAmount" class="form-control"/>
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Return Date</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtLoanReturnDate" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                    <label>Return Amount</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtReturnAmount" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields " id="InterestContainer">
                <div class="col-lg-4">
                    <label>Interest Charged</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtLoanInterest" class="form-control" />
                </div>
            </div>
            <div id="PaidContainer" class="col-lg-12 form-fields" hidden>
                <div class="col-lg-4">
                    <label>Paid Amount</label>
                </div>
                <div class="col-lg-4">
                    <input id="txtPaidAmount" class="form-control" />
                </div>
            </div>
            <div class="col-lg-12 form-fields ">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" onclick="AddOrUpdateLoan()">Submit</button>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script src="~/Scripts/Application Scripts/Loan/LoanDetails.js"></script>
    } 

